/* html {
    font-size: 62.5%; 
} */
  
  *,
  *::after,
  *::before {
    box-sizing: inherit; }
  
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(19, 18, 95); 
    
}
  
::-webkit-scrollbar {
    display: none;
}
  .head{
      text-align: center;   
      border-radius: 5px;
      
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 75vw;
      height: 90vh;
  }

  .cardstyle{
      background-color: ;
  }

  .cardhead{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  p{
      font-size: 3rem;
  }

  
  
  .flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin: 10px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 200px;
    height: 200px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(0deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 200px;
    height: 200px;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: white;
    color: white;
    transform: rotateY(180deg);
  }

  